{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<h2 class="titleAbout">Symfony's Creators : </h2>
        <section class="creators">

            {% for creator in creators %}
                <div class="card">
                    <h3>{{ ('Fabien' in creator.firstname)? '&hearts;' : '' }} {{ creator.firstname }}  {{ creator.lastname }}</h3>
                    <p class="creatorOf">Creator of :  {{ creator.creatorOf }} </p>

                    <p>Birth Date : {{ creator.dateOfBirth }}</p>
                    <div>
                        <img src="{{ creator.picture }}" alt="Photo du creator">
                    </div>
                    <p class="description">{{ creator.description }}</p>
                </div>
            {% endfor %}

        </section>

{% endblock %}

