{% extends 'base.html.twig' %}

{% block title %}
{{wish.title}} | {{ parent() }}

{% endblock %}

{% block body %}
    <h2>{{ wish.title }}</h2>
    <div>Crée le : {{ wish.dateCreated.format('Y-m-d H:i:s') }}</div>
    <div>{{ wish.description }}</div>


    {#  Ne marche pas !!
        <div>{{ wish.dateCreated }}</div>
    #}
{% endblock %}