{% extends 'base.html.twig' %}

{% block body %}
    <h2>All Wishes : </h2>
    <section class="list">
        {% for wish in wishes %}
            <article>
                <a href="{{ path('list_details',{'id' : wish.id}) }}" title="View wish's details">
                    <h2 class="wishTitle">{{ wish.id }}-{{ wish.title }}</h2></a>
                <p>Par {{ wish.author }} le {{ wish.dateCreated.format('d-m-Y') }} </p>

            </article>
        {% endfor %}
    </section>

{% endblock %}

{% block title %}
    The best wishes ! | {{ parent() }}

{% endblock %}